header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    header {
        font-size: 150%;
    }

    .left img {
        height: 100px;
    }
}


@media only screen and (max-width: 600px) {
    header {
        font-size: 120%;
    }
    
    .middle {
        justify-self: left;
    }

    .right {
        display: none
    }

    .left img {
        height: 80px;
    }
}

.left {
    flex: 1;
}

.middle {
    flex: 1;
    text-align: center;
}

.right a:last-child {
    padding-left: 10px;
}

.right {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

#hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: transform;
}
#hvr-grow:hover, #hvr-grow:focus, #hvr-grow:active {
    transform: scale(.9);
}