:root {
    --text-color: #FFFFFF;
    --background-color: #2b2d31;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("mordor-landscape.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {

}