@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Poppins:wght@300;500&display=swap');

:root {
    --text-color: #FFFFFF;
    --background-color: #2b2d31;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    user-select: none;
    text-decoration: none;
    /* overflow: hidden; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
}

.wrapper {
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    height: 100%;
}

.child {
    display: block;
    margin: 20vh auto;
    height: fit-content;
    width: 95vw;
    max-width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.download {
    margin-left: 50%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    transform: translateX(-50%);
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    transition: .5s;
}

.download:hover {
    background: #fff;
    color: var(--background-color);
}

#version {
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

.container {
    margin-left: 2rem;
}

@media only screen and (min-width: 600px) {
    .container {
        font-size: 24px;
    }

    #version {
        font-size: 34px;
    }
}


@media only screen and (max-width: 600px) {
    .container {
        font-size: 18px;
    }
}