@import url("mordor-landscape.jpg");

:root {
    --text-color: #FFFFFF;
    --background-color: #2b2d31;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("mordor-landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
    filter: blur(2px);
}