:root {
    --text-color: #FFFFFF;
    --background-color: #2b2d31;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://cdn.openart.ai/stable_diffusion/096bd28b845aa4e140e4912a9129edf431c20e14_2000x2000.webp");
}

main {

}